/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
  min-height:100%;
  position: relative;;
 }

.container {
  header {
    h1 {
      font-size: 150%;
    }
  }

  .font100 {
    font-size: 100%;
  }

  .font120 {
    font-size: 120%;
  }

  .font150 {
    font-size: 150%;
  }

  .font200 {
    font-size: 200%;
  }

  .bold {
    font-weight: bolder;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  p.copyright {
    text-align: center;
    color: #ccc;
  }
}
